node_red_firebase_flow.json
[
  {
    "id": "fb-readings-latest",
    "type": "tab",
    "label": "MQTT → Firebase",
    "disabled": false,
    "info": "Bridges soil/readings and soil/alerts from MQTT to Firebase Realtime Database via REST API"
  },
  {
    "id": "mqtt-broker-local",
    "type": "mqtt-broker",
    "name": "Localhost MQTT",
    "broker": "localhost",
    "port": "1883",
    "clientid": "nodered-soil-bridge",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "mqtt-in-readings",
    "type": "mqtt in",
    "z": "fb-readings-latest",
    "name": "Subscribe readings",
    "topic": "soil/readings",
    "qos": "0",
    "datatype": "json",
    "broker": "mqtt-broker-local",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 170,
    "y": 100,
    "wires": [["parse-reading"]]
  },
  {
    "id": "parse-reading",
    "type": "function",
    "z": "fb-readings-latest",
    "name": "Format Readings",
    "func": "// Always use server-side timestamp (Date.now) so ESP32 millis() is ignored.\n// ESP32 millis() is NOT a Unix timestamp — it is ms since boot.\nmsg.payload.timestamp = Date.now();\n\n// Clone for latest (PUT - overwrites)\nvar latestMsg = {\n    payload: JSON.stringify(msg.payload),\n    headers: { 'Content-Type': 'application/json' },\n    url: 'https://soil-monitoring-8b69c-default-rtdb.firebaseio.com/soil/readings/latest.json'\n};\n\n// Clone for history (POST - appends with Firebase auto-key)\nvar historyMsg = {\n    payload: JSON.stringify(msg.payload),\n    headers: { 'Content-Type': 'application/json' },\n    url: 'https://soil-monitoring-8b69c-default-rtdb.firebaseio.com/soil/readings/history.json'\n};\n\nreturn [latestMsg, historyMsg];",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 100,
    "wires": [["http-put-latest"], ["http-post-history"]]
  },
  {
    "id": "http-put-latest",
    "type": "http request",
    "z": "fb-readings-latest",
    "name": "Store Readings",
    "method": "PUT",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 620,
    "y": 60,
    "wires": [["debug-latest"]]
  },
  {
    "id": "http-post-history",
    "type": "http request",
    "z": "fb-readings-latest",
    "name": "POST /history",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 620,
    "y": 140,
    "wires": [[]]
  },
  {
    "id": "debug-latest",
    "type": "debug",
    "z": "fb-readings-latest",
    "name": "Debug readings",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 860,
    "y": 60,
    "wires": []
  },
  {
    "id": "mqtt-in-alerts",
    "type": "mqtt in",
    "z": "fb-readings-latest",
    "name": "Subscribe alerts",
    "topic": "soil/alerts",
    "qos": "0",
    "datatype": "json",
    "broker": "mqtt-broker-local",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 170,
    "y": 220,
    "wires": [["prepare-alert"]]
  },
  {
    "id": "prepare-alert",
    "type": "function",
    "z": "fb-readings-latest",
    "name": "Format Alerts",
    "func": "// Always use server-side timestamp\nmsg.payload.timestamp = Date.now();\nmsg.payload = JSON.stringify(msg.payload);\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.url = 'https://soil-monitoring-8b69c-default-rtdb.firebaseio.com/soil/alerts.json';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 220,
    "wires": [["http-post-alert"]]
  },
  {
    "id": "http-post-alert",
    "type": "http request",
    "z": "fb-readings-latest",
    "name": "Store Alerts",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 620,
    "y": 220,
    "wires": [[]]
  },
  {
    "id": "debug-alerts",
    "type": "debug",
    "z": "fb-readings-latest",
    "name": "Debug alerts",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 620,
    "y": 280,
    "wires": []
  }
]
