node_red_firebase_flow.json
[
  {
    "id": "fb-readings-latest",
    "type": "tab",
    "label": "MQTT → Firebase",
    "disabled": false,
    "info": "Bridges soil/readings and soil/alerts from MQTT to Firebase Realtime Database via REST API"
  },
  {
    "id": "mqtt-in-readings",
    "type": "mqtt in",
    "z": "fb-readings-latest",
    "name": "soil/readings",
    "topic": "soil/readings",
    "qos": "0",
    "datatype": "json",
    "broker": "",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 130,
    "y": 100,
    "wires": [["parse-reading"]]
  },
  {
    "id": "parse-reading",
    "type": "function",
    "z": "fb-readings-latest",
    "name": "Prepare Firebase payload",
    "func": "// Attach server-side timestamp if missing\nif (!msg.payload.timestamp) {\n    msg.payload.timestamp = Date.now();\n}\n\n// Clone for latest (PUT - overwrites)\nvar latestMsg = {\n    payload: JSON.stringify(msg.payload),\n    headers: { 'Content-Type': 'application/json' },\n    url: 'https://soil-monitoring-8b69c-default-rtdb.firebaseio.com/soil/readings/latest.json'\n};\n\n// Clone for history (POST - appends with Firebase auto-key)\nvar historyMsg = {\n    payload: JSON.stringify(msg.payload),\n    headers: { 'Content-Type': 'application/json' },\n    url: 'https://soil-monitoring-8b69c-default-rtdb.firebaseio.com/soil/readings/history.json'\n};\n\nreturn [latestMsg, historyMsg];",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 350,
    "y": 100,
    "wires": [["http-put-latest"], ["http-post-history"]]
  },
  {
    "id": "http-put-latest",
    "type": "http request",
    "z": "fb-readings-latest",
    "name": "PUT /latest",
    "method": "PUT",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 620,
    "y": 60,
    "wires": [["debug-latest"]]
  },
  {
    "id": "http-post-history",
    "type": "http request",
    "z": "fb-readings-latest",
    "name": "POST /history",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 620,
    "y": 140,
    "wires": [[]]
  },
  {
    "id": "debug-latest",
    "type": "debug",
    "z": "fb-readings-latest",
    "name": "Firebase response",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 860,
    "y": 60,
    "wires": []
  },
  {
    "id": "mqtt-in-alerts",
    "type": "mqtt in",
    "z": "fb-readings-latest",
    "name": "soil/alerts",
    "topic": "soil/alerts",
    "qos": "0",
    "datatype": "json",
    "broker": "",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 130,
    "y": 220,
    "wires": [["prepare-alert"]]
  },
  {
    "id": "prepare-alert",
    "type": "function",
    "z": "fb-readings-latest",
    "name": "Prepare alert payload",
    "func": "if (!msg.payload.timestamp) {\n    msg.payload.timestamp = Date.now();\n}\nmsg.payload = JSON.stringify(msg.payload);\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.url = 'https://soil-monitoring-8b69c-default-rtdb.firebaseio.com/soil/alerts.json';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 350,
    "y": 220,
    "wires": [["http-post-alert"]]
  },
  {
    "id": "http-post-alert",
    "type": "http request",
    "z": "fb-readings-latest",
    "name": "POST /alerts",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 610,
    "y": 220,
    "wires": [[]]
  }
]
